.navbar-brand {

	width: 12vw;
	padding-top: 5px;  
	}

.jumbotron {

	background: radial-gradient(white,rgba(106, 175, 0, 0.49), #6a8012);
	margin-bottom: 0px;
}

.slogan {

	text-align: center;
	font-style: italic;
}

h1 {

	text-align: center;
}

#map {

	margin-bottom: 50px;
}

.red {

	width: 3%;
	float: left;
	margin-right: 20px; 
	margin-top: 15px; 
}

#rrss {

	float: left;
	margin: 10px 10px 0 10px;
	padding: 15px;
	font-size: 1em;
	}

#phone {

	margin-top: 10px;
	padding-top: 15px;
}	

.thumbnail {

	margin-top: 50px;
}

.banner {

	text-align: center;
	margin-top: 50px;
}

#social {

	background-color: black;
	height: 5em;
	margin-bottom: 0; 
	box-sizing: border-box;
}

span {

	font-weight: bold;
}

.noti {

	width: 50%;
}

/* CSS NOSOTROS */

#mision {

	text-align: center;
}

.planilla {

	text-align: center;
}

.planilla .thumbnail {

	border: none;
}

#lolo {

margin-bottom: 5px;

}


#jim {

margin-bottom: 5px;

}

#monumento {

	margin-bottom: 10%;
}